/* Write your CSS here */
.team-card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff33;
  border: 2px solid #ffffff33;
  border-radius: 6px;
  align-items: center;
  height: 160px;
  width: 250px;
  padding: 10px;
  margin: 10px;
}
.card-image {
  height: 80px;
  width: 80px;
}
.team-name {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .team-card {
    width: 350px;
  }
  .team-name {
    font-size: 25px;
  }
  .card-image {
    height: 100px;
    width: 100px;
  }
}

.nav-link {
  text-decoration: none;
}
