/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 50px;
  width: 40px;
  margin-right: 10px;
}
.main-heading {
  font-family: 'Bree Serif';
  font-size: 35px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-list {
  list-style: none;
  width: 90%;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
  .main-heading {
    font-size: 50px;
  }
  .ipl-logo {
    height: 70px;
    width: 60px;
  }
}
